html{
    width: 992px;
    margin: auto;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    color: #3E3A39;
}

/* ヘッダー */
/* 基本設定 */
.header{
    background-color: #EFEFEF;
    width: 992px;
    display: flex;
    padding: 15px 50px;
    align-items: center;
}

/* ロゴ画像 */
.logo_image{
    margin-right: auto;
}

/* 登録画像 */
.add_img{
    margin-left: 590px;
}

/* 設定画像 */
.config_img{
    margin-left: auto;
}


/* コンテンツ */
/* 基本設定 */
.contents{
    display: flex;
}

.title{
    font-weight: bold;
    text-align:center;
    padding-bottom: 5px;
}

.person1{
    margin-right: auto;
    font-size: 18pt;
    letter-spacing: 2pt;
    padding: 50px;
}

.person2{
    margin-left: auto;
    font-size: 18pt;
    letter-spacing: 2pt;
    padding: 50px;
}

/* 点線 */
.line1{
    width: 396px;
    border: none;
    border-top: dashed 2px #3E3A39;
    margin: 10px 0px;
}

/* 実線 */
.line2{
    width: 396px;
    border: none;
    border-top: solid 3px #3E3A39;
    margin: 10px 0px;
}


table {
    border-collapse: separate;
    border-spacing: 15px;
}

td .date{
    margin-right: auto;
}

td .price{
    margin-left: auto;
}

td.data{
    display: block;
}

td.price{
    display: block;
}

